:root {
  --header-height: 120px;
  --search-side: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  margin: 0 auto;
}

.home-page {
  width: 98%;
  height: 200%;
  margin: 0 auto;
  
  background-color: rgb(243, 241, 238);
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.home {
  width: 100%;
  height: 49%;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.tiltongroup.com/assets/medias/_hero_tablet/HD_tilton_20201103-338-copie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5%;
  margin: 0 auto;
}

.header {
  width: 96%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid white;
}

.search-nav {
  width: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.package {
  height: 60px;
  width: 187px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 2em;
}

.search {
  width: var(--search-side);
  height: var(--search-side);
  border-radius: 50%;
  background-image: url(./resource/seach-icon-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  height: var(--header-height);
  aspect-ratio: .86;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lists {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 3.5em;
  font-weight: 600;
  width: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-1 {
  background-image: url(https://www.tiltongroup.com/assets/medias/_hero_tablet/HD_tilton_20201103-338-copie.jpg);
  width: 1752px;
  height: 802px;
  background-repeat: no-repeat;
}

.multiline-title {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.mini-logo {
  background: url(./resource/mini-logo.png);
  background-size: cover;
  width: 6%;
  aspect-ratio: 1;

  align-self: baseline;
}

.title-lines {
  width: 85%;

}

.title-line {
  font-size: 8em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  transition-duration: 1s;


}

.title-lines:hover .title-line{
  transform: rotateX(90deg);
  transform-origin: bottom;
  transition-property: all;
}

.title-lines>.mid {
  text-align: right;
}

.page-2 {
  height: 100%;
  width: 100%;
  background-color: rgb(100, 119, 104);
}