:root {
  --header-height: 120px;
  --search-side: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.page {
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  display: flex;
  justify-content: center;
}

.header {
  border: 1px solid red;
  width: 96%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.pakage {
  height: 60px;
  width: 187px;
  border: 1px solid red;
  border-radius: 2em;
}

.search-nav {
  width: 16%;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: var(--search-side);
  height: var(--search-side);
  border: 1px solid red;
  border-radius: 50%;
}

.box{
  height: var(--header-height);
  aspect-ratio: .86;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lists {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 3.5em;
  font-weight: 600;
  width: 12%;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

/* .image-1 { */
  /* background-image: url(https://www.tiltongroup.com/assets/medias/_hero_tablet/HD_tilton_20201103-338-copie.jpg); */
  /* width: 1752px; */
  /* height: 802px; */
  /* background-repeat: no-repeat; */
/* } */